@use '../../assets/styles/sass/variables'
    
.cabecalho
    display: flex
    padding: 5px
    flex-direction: row
    align-items: center
    background-color: black
    width: 100%
    position: fixed
    top: 0
    opacity: 90%
    transition: .4s
    z-index: 99

    .logo
        margin-right: 40px

    .menus
        display: flex
        flex-direction: row
        gap: 50px

        .menu-link
            font-family: variables.$text-font
            font-weight: 500
            font-size: 18px
            cursor: pointer
            color: white
        
        .link
            text-decoration: none

.cabecalho:hover
    opacity: 100%
    
