@use '../../assets/styles/sass/variables'

main
    width: 100%
    background-image: url('../../images/galaxy-bg.jpg')
    background-size: 120%
    background-attachment: fixed


.home-section
    display: flex
    flex-direction: column
    align-items: center
    position: relative
    width: 100%
    min-height: 400px
    color: white
    padding-top: 110px

    div
        height: 100%
        width: 60%
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        padding-top: 40px

        .title
            font-family: variables.$title-font
            font-size: 80px

        .home-description
            padding: 10px
            font-weight: 100
            text-align: center
            background-color: black
            display: flex
            align-items: center
            justify-content: center
            border-radius: 5px

.section-servicos
    width: 100%
    display: flex
    flex-direction: column
    flex-wrap: wrap
    align-items: center
    padding: 40px 0
    transform-style: inherit

    .servicos-title
        font-family: variables.$title-font
        font-size: 36px
        padding: 10px
        color: white

    .card-list
        display: flex
        flex-direction: row
        align-items: center
        justify-content: center
        flex-wrap: wrap
        background-color: white
        width: 80%
        padding: 10px
        min-height: 350px
        border-radius: 10px
        position: relative
        gap: 25px

        .planet
            position: absolute
            top: -20px
            right: -25px

        .link
            text-decoration: none
            color: black

.section-about
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    padding: 80px 0 50px 0
    color: white
    background-color: black

    .about-title
        font-family: variables.$title-font
        font-size: 30px

    .description
        width: 70%
        padding: 10px
        text-align: center
        font-weight: 100
        word-spacing: 2px